<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  
  .toolbar img {
    margin-top: 20px;
	margin-left:80px;
	width:80px;
  }
  
  .topmenu{
	background-image:url("assets/images/circle.png");
	background-repeat: no-repeat;
	background-size: 700px 700px;
    float:right;
	opacity:1;
	margin-top: -225.9068603515625px;
	margin-right: -180px;
	height:800px;
	width:800px;
	color:black;
}

 .menu ul{
	list-style-type: none;
	float:right;
	width:500px;

	margin-top:-50px;
	margin-right:210px;
}
	
  .menu ul li{
	margin-left: 30px;
	display:inline;
 }  
  
  .menu ul li a{
	text-decoration:none;
	color:#222222;
  }

  .calc{
	 position:relative;
     width:500px;
	 height:1070px;
     margin-top:-800px;
	 margin-left:100px;
}
  #dots1{
	 position:relative;
	 margin-top:460px;
	 margin-left:290px;
     height:60px;
     width:320px;
	}
	
  .leftgroup{
	 background-image:url("assets/images/blob-small.svg");
	 background-repeat:no-repeat;
	 background-size:320px 420px;
	 margin-left:-80px;
	 margin-top:-30px;
	 height:400px;
	 width:400px;
	 z-index: 1;
	}
	
	#dots2{
	  margin-top: -35px;
	  margin-left: 290px;
	  height:70px;
	  width:300px;
	  opacity:50%;
	  position:relative;
	}
	
	#handshake{
		width:350px;
		height:200px;
		margin-left:170px;
		margin-top:40px;
		position:relative;
	}

	#text1{
		margin-left:210px;
		position:relative;
		margin-top:70px;
		width:300px;
		height:100px;
	}
	
	#bar{
		margin-left:210px;
		margin-top:-15px;
		position:absolute;
	}

	.content{
		background-image:url("assets/images/sol_wave_bg.svg");
		background-repeat:no-repeat;
		background-size:1520px 1200px;
		height:1000px;
		width:1800px;
		margin-top:30px;
		opacity:100%
		margin-left:-50px;
	}
	
	#rect1{
		background-image:url("assets/images/Rectangle Copy 23.svg");
		background-repeat:no-repeat;
		background-size:400px 400px;
		height:400px;
		width:400px;
		position:absolute;
		margin-top:60px;
		margin-left:25px;
	}
	
	#getpaid{
		margin-top:110px;
		position:absolute;
		margin-left:60px;
		width:70px;
	}
	
	#quickcash{
		margin-top:190px;
		position:absolute;
		margin-left:70px;
	}
	
	#getcash{
	    margin-top:220px;
		position:absolute;
		margin-left:70px;
	}
	
	#rect2{
		background-image:url("assets/images/Rectangle Copy 19.svg");
		background-repeat:no-repeat;
		background-size:400px 400px;
		height:400px;
		width:400px;
		position:absolute;
		margin-top:350px;
		margin-left:45px;
	}
	
	.image{
	margin-top:110px;
	width:70px;
	margin-left:60px;
	}
	
	.imagetext{
	margin-left:60px;
	margin-top:10px;
	}
			
	#rect3{
		background-image:url("assets/images/Rectangle Copy 17.svg");
		background-repeat:no-repeat;
		background-size:400px 400px;
		height:400px;
		width:400px;
		position:absolute;
		margin-top:650px;
		margin-left:40px;
	}
	
	#rect4{
		background-image:url("assets/images/Rectangle 2.svg");
		background-repeat:no-repeat;
		background-size:400px 400px;
		height:400px;
		width:400px;
		position:absolute;
		margin-top:150px;
		margin-left:400px;
	}
	
	#rect5{
		background-image:url("assets/images/Rectangle Copy 25.svg");
		background-repeat:no-repeat;
		background-size:400px 400px;
		height:400px;
		width:400px;
		position:absolute;
		margin-top:450px;
		margin-left:400px;
	}

	#information{
	 position:absolute;
		margin-top: 150px;
		margin-left: 900px;
	}
	
	#bar1{
	 position:absolute;
	 margin-top:280px;
	 margin-left:900px;
	}
	
	#loan{
		position:absolute;
		margin-top: 320px;
		margin-left: 900px;
	}
	
	.reference{
		color: #663399;
	border: 2px solid #663399;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius:20px;
	margin-top:430px;
	margin-left:900px
	}
  
	#login{
		color: #663399;
	border: 2px solid #663399;
	padding: 10px 20px;
	text-align: center;
	border-radius:20px;
	}
	
	#active{
		background: transparent linear-gradient(90deg, #9F62C9 0%, #663399 100%);
		border-radius:20px;
		padding: 10px 20px;
	text-align: center;
	color:white;
	}
  }
</style>

<!-- Toolbar -->
<div class="toolbar">
  <img
    alt="Logo"
    src="assets/images/logo/logo.png"
  />
 
</div>

<div class="topmenu">
	<div class="menu">
	<h1 style="height:200px; width:100px"> </h1>
		<ul>
			<li><a href="#">Products</a></li>
			<li><a href="#">Solutions</a></li>
			<li><a href="#">Pricing</a></li>
			<li><a id="login" href="#">Login</a></li>
			<li><a id="active" href="#">Get Started</a></li>
		</ul>
	</div>
	<img id="dots1" src="assets/images/accounting_dots.svg" alt="dots" />
	<img class="calc" src="assets/images/Group6.svg" alt="group" />
</div>



<div class="leftgroup">
	<img id="text1" src="assets/images/We make it Super Sim.svg" />
	<img id="bar" src="assets/images/Line 3.svg" alt="bar" />
	<img id="handshake" src="assets/images/collect_img-video/collect_img-video.png" alt="HandShaking" />
	<img id="dots2" src="assets/images/accounting_dots.svg" alt="dots" />
	
</div>


<div class="content" role="main">
   <div id="rect1">
	<img id="getpaid" src="assets/images/Get Paid Instantly/Get Paid Instantly.png" />
	<img id="quickcash" src="assets/images/Quick cash disbursem.svg" />
	<img id="getcash" src="assets/images/Get terms loans that.svg" />
  </div>
  
  <div id="rect2">
    <img class="image" src="assets/images/Low interest rate/Low interest rate.png" />
	<img class="imagetext" src="assets/images/Low-interest rate.svg" />
	<img class="imagetext" src="assets/images/Achieve your financi.svg" />
  </div>
  
  <div id="rect3">
	<img class="image" src="assets/images/Secure Payments/Secure Payments.png" />
	<img class="imagetext" src="assets/images/Zero Paperwork.svg" />
	<img class="imagetext" src="assets/images/Get started instantl.svg" />
  </div>
  
  <div id="rect4">
    <img class="image" src="assets/images/freelancer_feature_icon_6@1.5x/freelancer_feature_icon_6@1.5x.png" />
	<img class="imagetext" src="assets/images/Ace your business fi.svg" />
	<img class="imagetext" src="assets/images/Manage banking, acco.svg" />
 </div>
	
  <div id="rect5">
	<img class="image" src="assets/images/Covid/Covid.png" />
	<img class="imagetext" src="assets/images/Loans to fight COVID.svg" />
	<img class="imagetext" src="assets/images/Zero EMI for first 3.svg" />
  </div>
  
  <div id="info">
	<img id="information" src="assets/images/Boost your business.svg" />
	<img id="bar1" src="assets/images/Line 3.svg" />
	<img id="loan" src="assets/images/Get your hands on a.svg" />
	<a class="reference" href="#" target="_blank">Get an Open Account</a>
  </div>

</div>

<router-outlet></router-outlet>